@charset "UTF-8";

header .user-set a.user-nick-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.icon {
	font-family: iconfont !important;
	font-size: 14px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,
aside,
footer,
header,
nav,
section {
	display: block
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

figcaption,
figure,
main {
	display: block
}

figure {
	margin: 1em 40px
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

pre {
	font-family: monospace, monospace;
	font-size: 1em
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted
}

b,
strong {
	font-weight: inherit;
	font-weight: bolder
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

dfn {
	font-style: italic
}

mark {
	background-color: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

audio,
video {
	display: inline-block
}

audio:not([controls]) {
	display: none;
	height: 0
}

img {
	border-style: none
}

svg:not(:root) {
	overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}

button,
input {
	overflow: visible
}

button,
select {
	text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
	-webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText
}

fieldset {
	padding: .35em .75em .625em
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

progress {
	display: inline-block;
	vertical-align: baseline
}

textarea {
	overflow: auto
}

[type=checkbox],
[type=radio] {
	box-sizing: border-box;
	padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

details,
menu {
	display: block
}

summary {
	display: list-item
}

canvas {
	display: inline-block
}

[hidden],
template {
	display: none
}

* {
	-webkit-tap-highlight-color: transparent
}

*,
:after,
:before {
	box-sizing: border-box
}

body,
html {
	width: 100%;
	height: 100%
}

body {
	font-family: Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	font-size: 12px;
	line-height: 1.5;
	color: rgba(0, 0, 0, .65);
	background-color: #fafafa
}

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit
}

ol,
ul {
	list-style: none
}

input::-ms-clear,
input::-ms-reveal {
	display: none
}

::selection {
	background: #108ee9;
	color: #fff
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: rgba(0, 0, 0, .85);
	font-weight: 500
}

a {
	color: #666;
	background: 0 0;
	text-decoration: none;
	outline: 0;
	cursor: pointer;
	transition: color .3s ease
}

a:focus {
	text-decoration: underline;
	-webkit-text-decoration-skip: ink;
	text-decoration-skip: ink
}

a:hover {
	color: #4a90e2
}

a:active {
	color: #0e77ca
}

a:active,
a:hover {
	outline: 0;
	text-decoration: none
}

a[disabled] {
	color: rgba(0, 0, 0, .25);
	cursor: not-allowed;
	pointer-events: none
}

code,
kbd,
pre,
samp {
	font-family: Consolas, Menlo, Courier, monospace
}

.clearfix {
	zoom: 1
}

.clearfix:after,
.clearfix:before {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both;
	visibility: hidden;
	font-size: 0;
	height: 0
}

.flex-box {
	display: -ms-flexbox;
	display: flex
}

.space-between {
	-ms-flex-pack: justify;
	justify-content: space-between
}

.align-center {
	-ms-flex-align: center;
	align-items: center
}

.align-end {
	-ms-flex-align: end;
	align-items: flex-end
}

header {
	height: 58px;
	background: #fff
}

header>div {
	width: 1180px;
	height: 100%;
	margin: 0 auto
}

header .logo {
	float: left;
	display: table-cell;
	vertical-align: middle;
	margin-top: 5px;
	font-size: 0
}

header .logo img {
	margin-right: 15px
}

header .logo .companyName {
	position: relative;
	padding-left: 15px;
	display: inline-block
}

header .logo .companyName img {
	width: 155px
}

header .logo .companyName:before {
	content: "";
	position: absolute;
	width: 1px;
	height: 21px;
	left: -1px;
	top: 6px;
	background: #cecece
}

header .user-set {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	float: right;
	line-height: 59px
}

header .user-set .line {
	color: #aaa
}

header .user-set [data-selector=register] {
	margin-right: 10px
}

header .user-set a {
	height: 100%;
	padding: 0 10px
}

header .user-set a.link {
	color: #4a90e2;
	padding: 0
}

header .user-set a.user-nick-name {
	width: 100px;
	padding-right: 0;
	text-align: right;
	color: #4a90e2
}

header .user-set a.user-nick-name:hover {
	text-decoration: underline
}

header .user-set .hotel-link-list {
	position: relative;
	padding: 0 9px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent
}

header .user-set .hotel-link-list i {
	color: #aaa
}

header .user-set .hotel-link-list p {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center
}

header .user-set .hotel-link-list .iconxiangxiajiantou {
	margin-left: 3px
}

header .user-set .hotel-link-list:hover {
	border-left: 1px solid #f3f3f3;
	border-right: 1px solid #f3f3f3
}

header .user-set .hotel-link-list:hover .iconxiangxiajiantou {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

header .user-set .hotel-link-list:hover:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 4px;
	width: 100%;
	background: #f8c245
}

header .user-set .hotel-link-list:hover ul {
	display: block
}

header .user-set .hotel-link-list ul {
	display: none;
	position: absolute;
	height: 120px;
	left: -1px;
	top: 58px;
	width: 93px;
	background: #fafafa;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
	border: 1px solid #eaeaea;
	z-index: 3
}

header .user-set .hotel-link-list ul li {
	display: -ms-flexbox;
	display: flex;
	height: 40px
}

header .user-set .hotel-link-list ul li:hover {
	background: #fff3d9
}

header .user-set .hotel-link-list ul li a {
	padding: 0 15px;
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between
}

header .user-set .hotel-link-list ul li a:hover {
	color: #666
}

.vertical-line {
	display: inline-block;
	width: 2px;
	height: 21px;
	background-color: #cecece
}

nav {
	min-width: 1180px;
	background: #f8c245
}

nav ul {
	width: 1180px;
	margin: 0 auto
}

nav ul li {
	float: left;
	line-height: 40px;
	padding: 0 16px
}

nav ul li:hover {
	background: #ffb430
}

nav ul li.active {
	background: #ffa303
}

nav ul li.active a {
	font-weight: 600
}

nav ul a {
	color: #fff;
	font-size: 15px;
	text-decoration: none
}

nav ul a:hover {
	color: #fff
}

nav ul a:link {
	text-decoration: none
}

footer {
	font-size: 14px;
	color: #aaa;
	background: #fff
}

footer .content {
	width: 1180px;
	margin: 0 auto
}

footer .content .left {
	float: left;
	width: 760px
}

footer .left .footer-logo {
	height: 75px;
	display: table-cell;
	vertical-align: middle
}

footer .left .footer-logo .logo {
	width: 130px;
	height: 41px
}

footer .left .footer-logo .img-s {
	width: 99px;
	height: 24px
}

footer .left .footer-logo>* {
	display: inline-block;
	vertical-align: middle
}

footer .left .footer-logo .line {
	width: 2px;
	height: 21px;
	margin: 0 12px;
	background: #cecece
}

footer .left p {
	margin-bottom: 10px;
	padding-right: 30px;
	line-height: 28px;
	color: #aaa
}

footer .left hr {
	width: 730px;
	border: 0;
	border-top: 1px solid #eaeaea;
	margin-bottom: 30px
}

footer .left .footer-title {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between
}

footer .left .footer-title li {
	float: left;
	width: 265px
}

footer .right {
	position: relative;
	float: left;
	padding-left: 20px;
	width: 420px
}

footer .right p {
	width: 135px;
	white-space: nowrap;
	text-align: center
}

footer .right .qr-code {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between
}

footer .right .qr-code dl {
	width: 120px;
	text-align: center
}

footer .right .qr-code dl dt {
	margin-bottom: 5px
}

footer .right .qr-code dl dt img {
	width: 115px;
	height: 115px
}

footer .right .qr-code dl dd {
	font-size: 12px;
	color: #666
}

footer .right:before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -80px;
	width: 1px;
	height: 159px;
	background: #eaeaea
}

footer .right h3 {
	margin: 20px 0 17px;
	color: #aaa;
	font-size: 20px
}

footer .hot-tel {
	margin-bottom: 17px;
	font-size: 20px;
	color: #333
}

footer .wechar img {
	display: block;
	width: 135px
}

footer .footer-title li:last-child {
	width: 100px
}

footer .footer-title li a,
footer .footer-title li strong {
	display: inline-block;
	margin-bottom: 10px;
	color: #666
}

footer .footer-title li a {
	color: #aaa
}

footer .footer-title li a:hover {
	color: #4a90e2
}

footer .regist-address {
	padding: 20px;
	border-top: 1px solid #eaeaea;
	text-align: center;
	font-size: 14px
}

footer .regist-address p:first-child {
	margin-bottom: 5px
}

footer .regist-address small {
	font-size: 12px
}

.friend-link {
	width: 1180px;
	margin: 20px auto
}

.friend-link p {
	margin-bottom: 20px;
	font-size: 14px
}

.friend-link div p {
	float: left;
	width: 196px;
	margin-bottom: 10px;
	color: #aaa
}

.friend-link div p a:hover {
	color: #ffa303
}

.btn {
	display: inline-block;
	line-height: 27px;
	padding: 0 5px;
	border-radius: 4px;
	color: #fff;
	background: #77b6ff;
	cursor: pointer;
	border: 0
}

.btn:hover {
	background: #8cc1ff;
	color: #fff
}

.btn:active {
	background: #5ea9ff;
	color: #fff
}

.btn-big {
	padding: 8px 30px;
	font-size: 18px;
	background: #ff6d03
}

.btn-big:hover {
	background: #ff7f21
}

.btn-big:active {
	background: #e96200
}

.btn-normal {
	padding: 5px 30px;
	font-size: 14px;
	background: #ffba19
}

.btn-normal:hover {
	background: #ffca4f
}

.btn-normal:active {
	background: #f5ae0a
}

.btn-yellow-bd {
	padding: 0 12px;
	line-height: 25px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #ffd675;
	color: #ffa303
}

.no-border {
	background: #fff;
	color: #aaa;
	cursor: text;
	border: 1px solid #eaeaea
}

.no-border:active,
.no-border:hover {
	background: #fff;
	border-color: #eaeaea;
	color: #aaa
}

.radio {
	font-size: 14px
}

.radio input {
	display: none
}

.radio input+span:before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 4px;
	vertical-align: middle;
	background: url(../img/no-radio.png) 50% no-repeat;
	background-size: 100% 100%
}

.radio input:checked+span:before {
	content: "";
	background: url(../img/radio.png) 50% no-repeat;
	background-size: 100% 100%
}

.input {
	display: -ms-flexbox;
	display: flex;
	padding: 10px;
	height: 42px;
	background: #fff;
	border-radius: 4px;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid #eaeaea
}

.input span {
	color: #aaa
}

.input span.time-result {
	padding: 0;
	width: 2.5em
}

.input .icon-input {
	text-indent: 0
}

.input input[type=text] {
	text-indent: 17px;
	border: 0;
	outline: 0;
	font-size: 14px;
	color: #333;
	-ms-flex: 1;
	flex: 1
}

.ui-widget-header {
	background-color: #fff
}

.login-model {
	padding: 0 20px
}

.login-model .logo {
	height: 95px;
	margin-bottom: 42px;
	text-align: center
}

.login-model form {
	font-size: 14px
}

.login-model form ul li.error .input-box {
	border-color: #ff4242
}

.login-model form ul li.error .msg {
	color: #ff4242;
	padding-left: 45px
}

.login-model form ul li.btn-li {
	margin: 10px 0 70px
}

.login-model form ul li.btn-li p {
	margin-top: 10px
}

.login-model form ul li.btn-li p a {
	color: #4a90e2
}

.login-model form ul li .input-box {
	padding: 5px 12px;
	width: 265px;
	border-bottom: 1px solid #eaeaea
}

.login-model form ul li .input-box .icon {
	margin-right: 15px;
	color: #aaa
}

.login-model form ul li .input-box input {
	height: 25px;
	border: 0;
	outline: 0;
	width: 130px
}

.login-model form ul li .input-box input::-webkit-input-placeholder {
	color: #aaa
}

.login-model form ul li .captcha {
	padding: 0;
	width: 80px;
	line-height: 30px;
	font-size: 12px
}

.login-model form ul li .msg {
	height: 25px
}

.login-model form ul li .item {
	margin-bottom: 5px
}

.login-model form ul li .login-btn {
	display: block;
	width: 100%
}

.select-city-code {
	position: relative;
	display: inline-block;
	width: 50px
}

.select-city-code em {
	font-style: normal
}

.select-city-code span.select-icon {
	display: inline-block;
	width: 14px;
	height: 16px;
	vertical-align: bottom;
	background: url(../img/select.png) no-repeat 50%;
	cursor: pointer
}

.select-city-code .select-city-model {
	position: absolute;
	padding: 10px;
	width: 355px;
	background: #fff;
	box-shadow: 0 -1px 4px 0 rgba(147, 139, 126, .7);
	border-radius: 4px 0 4px 4px;
	color: #333
}

.select-city-code .select-city-model p {
	text-align: right
}

.select-city-code .select-city-model p .icon.iconguanbi {
	margin-right: 0
}

.select-city-code .select-city-model ul li {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	width: 105px;
	cursor: pointer
}

.select-city-code .select-city-model ul li span {
	margin-left: 5px;
	color: #aaa
}

.checkbox {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center
}

.checkbox input {
	display: none
}

.checkbox input+div {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	height: 25px;
	padding: 8px;
	color: #333
}

.checkbox input+div .icon {
	display: none;
	margin-right: 5px;
	font-size: 14px
}

.checkbox input+div .iconweixuanzhongfang {
	display: block;
	color: #949da1
}

.checkbox input:checked+div {
	color: #fff;
	background: #ffba19
}

.checkbox input:checked+div .iconweixuanzhongfang {
	display: none
}

.checkbox input:checked+div .iconxuanzhongfang {
	color: #ffba19;
	display: block
}

.checkbox input:checked+div .iconxuanzhongfang:before {
	background: #fff
}

.ml10 {
	margin-left: 10px
}

.mr10 {
	margin-right: 10px
}

.mb15 {
	margin-bottom: 15px
}

.text-center {
	text-align: center
}

.text-right {
	text-align: right
}

.hot-city-model {
	display: none;
	position: absolute;
	padding: 10px;
	width: 355px;
	left: 0;
	top: 40px;
	background: #fff;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
	border-radius: 4px 0 4px 4px;
	z-index: 4;
	font-size: 12px
}

.hot-city-model .input-box {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 15px
}

.hot-city-model .input-box .iconguanbi,
.hot-city-model .input-box p {
	color: #aaa
}

.hot-city-model .table-title {
	position: relative;
	margin-bottom: 8px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.hot-city-model .table-title:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 1px;
	width: 100%;
	background: #eaeaea
}

.hot-city-model .table-title span {
	padding: 0 4px 5px;
	border-bottom: 2px solid transparent;
	margin: 0;
	cursor: pointer
}

.hot-city-model .table-title span.active {
	border-color: #ffba19;
	color: #ffba19;
	font-weight: 600
}

.hot-city-model .content p {
	text-align: center;
	color: #aaa;
	padding: 12px 0 10px
}

.hot-city-model .content a {
	display: inline-block;
	padding: 5px;
	margin-right: 10px
}

.hot-city-model .content a.active {
	background: #ffba19;
	color: #fff;
	border-radius: 4px
}

.scenic-spot-model {
	position: absolute;
	padding: 10px;
	width: 330px;
	left: 0;
	top: 40px;
	background: #fff;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
	border-radius: 4px 0 4px 4px;
	z-index: 4;
	font-size: 12px
}

.scenic-spot-model .title {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center
}

.scenic-spot-model div div+div {
	padding-top: 5px
}

.scenic-spot-model h4 {
	padding: 5px 0;
	font-weight: 700
}

.scenic-spot-model a {
	padding: 5px 0;
	margin-right: 15px
}

.scenic-spot-model .iconguanbi {
	cursor: pointer;
	color: #aaa
}

.scenic-spot-model p {
	text-align: center;
	color: #aaa;
	padding: 12px 0 10px
}

.ui-dialog .ui-dialog-content {
	overflow: visible
}

.gray-aaa {
	color: #aaa
}

.hide {
	display: none
}

.pull-right {
	float: right
}

.pull-left {
	float: left
}

button:focus,
input:focus {
	outline: 0
}

.star1 {
	background-position: 0 -30px !important
}

.star15 {
	background-position: 0 -60px !important
}

.star2 {
	background-position: 0 -90px !important
}

.star25 {
	background-position: 0 -120px !important
}

.star3 {
	background-position: 0 -150px !important
}

.star35 {
	background-position: 0 -180px !important
}

.star4 {
	background-position: 0 -210px !important
}

.star45 {
	background-position: 0 -240px !important
}

.star5 {
	background-position: 0 -270px !important
}

.showWrapper {
	width: 540px;
	position: absolute
}

.showWrapper img {
	width: 100%
}

.paginationjs {
	font-size: 12px;
	text-align: center;
	margin: 22px auto
}

.paginationjs a {
	text-decoration: none;
	color: #666;
	display: inline-block;
	width: 28px;
	height: 28px;
	line-height: 28px;
	margin-right: 5px;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #eaeaea
}

.paginationjs a:hover {
	color: #ffc824;
	border: 1px solid #ffc824
}

.paginationjs span {
	display: inline-block;
	width: 28px;
	height: 28px;
	line-height: 28px;
	margin-right: 5px
}

.paginationjs span.ellipse {
	color: #ccc
}

.paginationjs .icon {
	font-size: 12px
}

.paginationjs .icon.prev {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg)
}

.paginationjs .current {
	background: #ffba19;
	border-radius: 4px;
	color: #fff;
	border: 1px solid #ffba19
}

.paginationjs .current.next,
.paginationjs .current.prev {
	color: #eaeaea;
	border-color: #eaeaea;
	background: #fff
}

.padding-left-15 {
	padding-left: 15px
}

.padding-right-15 {
	padding-right: 15px
}

.blue {
	color: #4a90e2
}

.black {
	color: #000
}

.three-dot {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

#header-container {
	background: #fff
}

#header-container .header {
	height: 58px;
	width: 1180px;
	margin: 0 auto
}

#header-container .header .navbar-logo {
	float: left;
	height: 40px;
	margin: 9px 0;
	font-size: 0
}

#header-container .header .navbar-logo .logo {
	font-size: 0;
	vertical-align: middle;
	display: inline-block
}

#header-container .header .navbar-logo .logo img {
	display: inline-block;
	width: 100%;
	height: 100%
}

#header-container .header .navbar-logo .logo-left img {
	width: 114px;
	height: 40px
}

#header-container .header .navbar-logo .line {
	margin: 0 18px auto 14px;
	width: 2px;
	height: 21px;
	display: inline-block;
	vertical-align: middle;
	background-color: #cecece
}

#header-container .header .navbar-logo .logo-right img {
	width: 153px;
	height: 33px
}

#header-container .header .tel {
	float: right;
	height: 58px;
	font-size: 12px;
	font-weight: 400;
	color: #666;
	line-height: 58px
}

#footer-container {
	height: 85px;
	background: #fff;
	padding-top: 20px
}

#footer-container p {
	font-weight: 400;
	color: #cec5c5;
	text-align: center
}

#footer-container .t1 {
	font-size: 14px;
	line-height: 20px
}

#footer-container .t2 {
	margin-top: 7px;
	font-size: 12px;
	line-height: 17px
}

.model.ui-dialog .ui-dialog-titlebar-close {
	background: 0 0;
	color: #aaa
}

.model.ui-dialog .ui-dialog-titlebar-close:hover {
	color: #666
}

.no-hover:hover {
	color: #666;
	cursor: text
}

.ui-widget.ui-widget-content {
	border: 1px solid #eaeaea;
	color: #666
}

.back-top {
	width: 44px;
	height: 44px;
	position: fixed;
	right: 44px;
	bottom: 44px;
	border: 1px solid #eaeaea;
	background: #fff
}

.back-top:after {
	content: "";
	width: 12px;
	height: 12px;
	margin-left: 50%;
	margin-top: 50%;
	border-color: rgba(0, 0, 0, .6) transparent transparent rgba(0, 0, 0, .6);
	border-style: solid;
	border-width: 1px;
	display: block;
	-webkit-transform: translate(-50%, -20%) rotate(45deg);
	transform: translate(-50%, -20%) rotate(45deg)
}

.back-top:hover {
	background: rgba(0, 0, 0, .2)
}

.back-top:hover:after {
	content: "返回顶部";
	color: #fff;
	width: 24px;
	height: 24px;
	border: none;
	display: block;
	-webkit-transform: translate(-50%, -70%) rotate(0);
	transform: translate(-50%, -70%) rotate(0)
}

.login-model.layui-layer-page .layui-layer-content {
	padding: 0;
	overflow: visible
}

.margin-top-10 {
	margin-top: 10px
}

.ui-datepicker .ui-datepicker-header .ui-corner-all {
	width: 22px;
	height: 22px;
	border-radius: 0;
	background: #ffba19
}

.ui-datepicker .ui-datepicker-header .ui-corner-all.ui-datepicker-prev {
	left: -4px
}

.ui-datepicker .ui-datepicker-header .ui-corner-all.ui-datepicker-prev .ui-icon {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAYBAMAAAA8HAFZAAAAJ1BMVEVHcEz///////////////////////////////////////////////8NopmKAAAADHRSTlMAC/E4vhzoLly4lqjkszneAAAASUlEQVQI12NgQICIABDJrJMIoozOHAdzzkwAc44IgDmOcA5rDpjDDeYwyJwBa6o5swCJggpClUA1QLXDDEPiTkBYC3ME1ElAAABRih+FYlXiTQAAAABJRU5ErkJggg==);
	top: 0;
	right: 0;
	position: relative;
	background-size: 6px 12px;
	background-position: 0 0;
	top: 13px;
	left: 15px
}

.ui-datepicker .ui-datepicker-header .ui-corner-all.ui-datepicker-next {
	right: -3px
}

.ui-datepicker .ui-datepicker-header .ui-corner-all.ui-datepicker-next .ui-icon {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAYBAMAAAA8HAFZAAAAJ1BMVEVHcEz///////////////////////////////////////////////8NopmKAAAADHRSTlMAC/E4vhzoLly4lqjkszneAAAASUlEQVQI12NggADWVjAldsgARNWcUQZRnGfAXEYfCFcEnXssAMLdANZ65iCI4jpzHImCCEKVQDRAtUMMg3KgFkGthToC6iQIAAB/gSAbTonE+AAAAABJRU5ErkJggg==);
	top: 0;
	right: 0;
	position: relative;
	background-size: 6px 12px;
	background-position: 0 0;
	top: 13px;
	left: 17px
}

.ui-datepicker .ui-datepicker-header .ui-corner-all.ui-state-disabled {
	background: #eaeaea;
	opacity: 1
}

.pre-search {
	position: absolute;
	left: 0;
	width: 331px;
	background: #fff;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
	border-radius: 4px 0 4px 4px;
	z-index: 999;
	max-height: 423px;
	overflow: hidden;
	overflow-y: auto
}

.pre-search p {
	color: #aaa
}

.pre-search li,
.pre-search p {
	height: 40px;
	font-size: 14px;
	padding: 0 10px;
	line-height: 40px
}

.pre-search li {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	color: #333
}

.pre-search li:hover {
	background: #fff3d9
}

.pre-search li a {
	color: #333;
	display: inline-block;
	max-width: 230px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.pre-search li span:first-child {
	color: #333
}

.pre-search li span:last-child {
	color: #aaa
}

.pre-search li em {
	color: #ffa303;
	font-style: normal;
	font-weight: 600
}

.tips-box {
	position: absolute;
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #eaeaea;
	background-color: #fff;
	box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, .1);
	z-index: 10
}

.tips-box:after,
.tips-box:before {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -10px;
	z-index: 2;
	border-color: #fff transparent transparent;
	border-style: solid;
	border-width: 10px 10px 0
}

.tips-box:after {
	bottom: -11px;
	border-top-color: #eaeaea;
	z-index: 1
}
