@charset "utf-8";
.main .left>div,
.main aside {
	border: 1px solid #eaeaea;
	background: #fff;
	border-radius: 4px
}

body,
html {
	background: #fafafa
}

.banner {
	height: 360px;
	margin-bottom: 30px;
	background: url(../img1/travel.jpg) no-repeat 50%;
	background-size: 1920px 360px;
	color: #333
}

.banner .btn-box {
	width: 1180px;
	height: 100%;
	margin: 0 auto
}

.banner .btn-box .btns {
	width: 320px;
	height: 100%;
	padding-left: 20px;
	background: hsla(0, 0%, 100%, .8)
}

.banner .btn-box .btns dl {
	position: relative;
	padding: 15px 0
}

.banner .btn-box .btns dl dt div {
	padding: 10px 20px 10px 0
}

.banner .btn-box .btns dl dd {
	display: none;
	position: absolute;
	top: 0;
	left: 300px;
	width: 400px;
	background: hsla(0, 0%, 100%, .95)
}

.banner .btn-box .btns dl dd div {
	padding: 20px
}

.banner .btn-box .btns dl:hover dd {
	display: block
}

.banner .btn-box .btns dl p {
	font-size: 17px
}

.banner .btn-box .btns dl a {
	display: inline-block;
	margin: 0 10px 10px 0
}

.banner .btn-box .btns dl:first-child {
	border-bottom: 1px solid #eaeaea
}

.main {
	width: 1180px;
	margin: 0 auto 90px
}

.main .left {
	float: left;
	width: 900px;
	margin-right: 10px
}

.main .left .title-h2 {
	position: relative;
	line-height: 28px;
	margin-bottom: 10px;
	font-size: 15px;
	color: #666
}

.main .left .title-h2 strong {
	font-size: 20px;
	color: #666
}

.main .left .title-h2 .more {
	position: absolute;
	right: 0;
	top: 0;
	line-height: 28px;
	font-size: 14px;
	font-weight: 400
}

.main .left .travel-list {
	font-size: 14px;
	background: #fff
}

.main .left .travel-list .travel-item {
	position: relative
}

.main .left .travel-list .travel-item .rmly {
	margin-left: 20px;
	padding: 30px 20px 30px 0;
	border-top: 1px solid #eaeaea
}

.main .left .travel-list .travel-item:hover {
	background: #fafafa
}

.main .left .travel-list .travel-item:hover h3 {
	color: #ffa303
}

.main .left .travel-list .travel-item>a {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0
}

.main .left .travel-list .travel-item:first-child {
	border-top: 0
}

.main .left .travel-list .travel-item:first-child .rmly {
	border: 0
}

.main .left .travel-list .travel-item h3 {
	margin-bottom: 20px;
	color: #333;
	font-size: 20px
}

.main .left .travel-list .travel-item dl {
	display: -ms-flexbox;
	display: flex
}

.main .left .travel-list .travel-item dl dt {
	width: 210px;
	height: 130px;
	border-radius: 3px;
	overflow: hidden
}

.main .left .travel-list .travel-item dl dt img {
	display: block;
	width: 100%
}

.main .left .travel-list .travel-item dl dd {
	-ms-flex: 1;
	flex: 1;
	padding-left: 20px;
	color: #666
}

.main .left .travel-list .travel-item dl dd p {
	line-height: 26px;
	height: 80px;
	margin-bottom: 30px
}

.main .left .travel-list .travel-item dl dd div {
	text-align: right
}

.main .left .travel-list .travel-item dl dd div span:first-child {
	color: #aaa;
	margin-right: 20px
}

.main .left .add-more {
	padding: 20px;
	text-align: center;
	font-size: 14px
}

.main .left .add-more a {
	color: #ffa303
}

.main aside {
	float: right;
	margin-top: 38px;
	width: 270px;
	color: #333
}

.main aside h2 {
	margin: 20px 0;
	line-height: 24px;
	font-size: 18px;
	text-indent: 20px;
	border-left: 5px solid #ffba19
}

.main .bd ul li dl {
	padding: 0 20px
}

.main .bd ul li dl dt {
	width: 210px;
	height: 121px;
	border-radius: 3px;
	overflow: hidden;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center
}

.main .bd ul li dl dt img {
	max-width: 100%;
	max-height: 100%
}

.main .bd ul li dl dd {
	padding: 10px 0 30px;
	font-size: 14px
}

.main a:hover {
	color: #ffa303
}
